/*  CSS3 ✰ Classes  */

#anteriores
{
    background:#fff;
    font-size:0;
    margin-top:35px;
    min-width:100%;
    overflow:hidden;
    position:relative;
    text-align:center;
    text-align:center;
    text-transform:uppercase;
}
#anteriores .todos
{
    background:url("../images/home/playall_largo.png") no-repeat left top;
    color:#3f4044;
    height:33px;
    line-height:33px;
    padding:0 20px 0 30px;
    position:absolute;
    right:0;
}
#anteriores .todos a
{
    color:#3f4044;
    font-size:14px;
    font-weight:bold
}
#anteriores h3.tit
{
    font-size:33px;
    font-weight:normal;
    letter-spacing:15px;
    margin:20px 0 15px 0;
    text-transform:uppercase;
}
#anteriores .capitulo
{
    float:left;
    padding-bottom:5px;
    position:relative;
    vertical-align:top;
    width:25%;
}
#anteriores .capitulo a
{
    display:block
}
#anteriores .capitulo p
{
    background:rgba(0,0,0,0.5);
    display:inline;
}
#anteriores .capitulo h2
{
    background:rgba(0,0,0,0.5);
    display:inline;
}
#anteriores .capitulo .block
{
    display:block;
    margin-top:5px;
}
#anteriores .capitulo .cap
{
    font-size:14px;
    font-weight:bold;
    margin-bottom:12px;
}
#anteriores .capitulo .imagen
{
    height:167px;
}
#anteriores .capitulo .descripcion
{
    float:left;
    width:200px;
}
#anteriores .capitulo .imagen img
{
    width:230px;
    height:auto;
    -o-box-shadow:-5px 5px 0 #c8cacd;
    -ms-box-shadow:-5px 5px 0 #c8cacd;
    -moz-box-shadow:-5px 5px 0 #c8cacd;
    -webkit-box-shadow:-5px 5px 0 #c8cacd;
    box-shadow:-5px 5px 0 #c8cacd;
    -webkit-background-clip:padding-box;
}
#anteriores .capitulo:hover .imagen img
{
    -o-box-shadow:-5px 5px 0 #3d4043;
    -ms-box-shadow:-5px 5px 0 #3d4043;
    -moz-box-shadow:-5px 5px 0 #3d4043;
    -webkit-box-shadow:-5px 5px 0 #3d4043;
    box-shadow:-5px 5px 0 #3d4043;
    -webkit-background-clip:padding-box;
    -o-transition:.2s box-shadow;
    -ms-transition:.2s box-shadow;
    -moz-transition:.2s box-shadow;
    -webkit-transition:.2s box-shadow;
    transition:.2s box-shadow;
}
#anteriores .capitulo .texto
{
    line-height:20px;
    padding:15px 15px 0 15px;
    position:absolute;
    text-align:left;
    text-transform:none;
    top:0;
    word-break:break-word;
    z-index:2;
}
#anteriores .capitulo .texto:first-letter
{
    text-transform:uppercase;
}
#anteriores .tit
{
    font-size:23px;
}
